// fonts
+font(FregatRegular, FregatRegular)
=fregat
	font-family: 'FregatRegular', sans-serif
	font-style: normal
	font-weight: normal
+font(FregatBold, FregatBold)
=fregat-b
	font-family: 'FregatBold', sans-serif
	font-style: normal
	font-weight: normal
+font(FregatItalic, FregatItalic)
=fregat-i
	font-family: 'FregatItalic', sans-serif
	font-style: normal
	font-weight: normal	
+font(HelveticaNeueCyr-Roman, HelveticaNeueCyr-Roman)	
=font
	font-family: 'HelveticaNeueCyr-Roman', sans-serif
	font-style: normal
	font-weight: normal		

// vars
$dark: #21310f
$green: #52bb44
$orange: #ec9921
// mixins
=justify
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
=justify-child
	display: inline-block
	line-height: normal
	vertical-align: top
	font-size: 15px
=quote
	display: block
	margin-bottom: 20px
	padding: 25px 35px 
	background: #f7f7f7
	text-align: left
	border-left: 4px solid $green
	+fregat-i	
	a
		+font
		color: #52bb44
		text-decoration: underline
		&:hover
			text-decoration: none

body
	+font 
	font-size: 15px 
	line-height: 1.4
	color: $dark
	background: #52bb44
.center
	max-width: 1158px
	margin: 0 auto
	&.center_main
		+clr
		background: #fff
.main
	+clr
	max-width: 1158px
	margin: 0 auto
	background: #fff 
	+r(767)
		+display-flex
		+flex-direction(column)			
.clr
	+clr	 

// titles
h1, h2, h3, .h1, .h2, .h3
	+fregat-b
	line-height: 1.2
	margin-bottom: 10px
h1, .h1
	font-size: 36px
	+r(1024)
		font-size: 30px
	+r(768)
		text-align: center
h2, .h2
	margin-bottom: 30px
	font-size: 24px
h3, .h3
	font-size: 19px
h4, .h4
	font-size: 17px
h5, .h5
	font-size: 15px 	 	

// common blocks
.grid
	font-size: 0
	margin-left: -3.3% 
	+r(767)
		text-align: center
	+r(480)
		margin-left: 0
	.grid__item
		display: inline-block
		vertical-align: top
		width: 30%
		margin-left: 3.3%
		margin-bottom: 30px
		+r(767)
			width: 35%
			margin-bottom: 25px
		+r(600)
			width: 45%
		+r(480)
			width: 100%
			margin-left: 0
			text-align: left
.block-wrap
	padding-left: 2px			
.block
	margin-bottom: 35px 
	background: #f7f7f7
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12)
	+r(768)
		margin-bottom: 25px
	+r(568)
		margin-bottom: 15px	 			 	
.quote
	+quote      
.button
	position: relative
	width: 200px
	height: 40px
	background: #D6FEC2
	border-radius: 3px
	box-shadow: 0 1px 2px #0E8E57
	text-align: center
	color: $dark
	+fregat-b
	font-size: 15px
	text-transform: uppercase
	+tr(all 200ms)
	&:hover, &:active
		+transform(translateY(6px))
		background: #52bb44
		color: #fff 
.btn
	display: inline-block
	padding: 10px 22px 9px 
	background: #EC9921
	border-radius: 3px
	box-shadow: 0 1px 2px #AE6700
	+fregat-b
	font-size: 15px
	color: $dark
	text-decoration: none
	text-transform: uppercase
	+transition(transform 200ms, color 200ms)
	&:hover
		+transform(translateY(6px))
		color: #fff
	&.btn_green
		background: #52bb44
		box-shadow: 0 1px 2px #52bb44 	
.date
	font-size: 15px
	color: #acacac	
	.icon-timing
		margin-right: 5px	
.breadcrumbs
	margin-bottom: 32px
	+r(767)
		text-align: center
	ul
		font-size: 0
		li
			position: relative
			display: inline-block
			vertical-align: middle
			margin-left: 50px
			&:before
				content: ""
				position: absolute
				top: 8px
				left: -33px
				width: 20px
				height: 1px
				background: #c7d6df
			&:first-child
				margin-left: 0
				&:before
					display: none	
			a
				font-size: 13px
				color: #c7d6df
				text-decoration: none
				&:hover
					text-decoration: underline
// icons
[class^="icon"]
	display: inline-block
	vertical-align: middle 	
.icon-mob
	+s(mob)
.icon-mtc
	+s(mtc)	
.icon-call
	+s(call)
.icon-viber
	+s(viber)
.icon-skype
	+s(skype)
.icon-marker
	+s(marker)
.icon-adv-marker
	+s(adv-marker)
.icon-adv-exp
	+s(adv-exp)
.icon-adv-indiv
	+s(adv-indiv)
.icon-adv-money
	+s(adv-money)
.icon-adv-safe
	+s(adv-safe)
.icon-adv-teeth
	+s(adv-teeth)
.icon-timing
	+s(timing)	





































































































